.error404Page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &__title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: rebeccapurple;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
  }

  &__dogContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    height: auto;
    max-width: 40%;
  }

  &__dogImage {
    width: 200px;
    max-height: 100%;
  }

  &__messagge {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    font-size: 1.3em;
    color: blue;
    text-align: center;
  }

  &__link:hover {
    color: red;
    transition: 0.3s;
  }

  &__link:visited {
    text-decoration: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
