.landingPage {
  height: 100vh;
  // background-color: red;

  &__header {
    padding: 0.5em 1em 1em 1em;
    background-color: #97e5ef;
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);

    &__image {
      width: 60px;
    }
  }

  // * Section
  &__section {
    // background-color: #f8e1f4;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

    display: inline-block;
    animation: animationOnStartup 700ms ease-out;
    animation-fill-mode: backwards;

    &__title {
      text-align: center;
      font-size: 55%;
    }

    &__sub-title {
      font-size: 55%;
    }

    &__text {
      font-size: 55%;
    }

    &__list {
      margin-left: 25px;
    }

    &__list > li {
      font-size: 55%;
    }
  }
}

// * Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landingPage {
    &__section {
      margin: 30px 100px 30px 100px;
      &__title,
      &__sub-title,
      &__text,
      &__list > li {
        font-size: 100%;
      }
    }
  }
}

// * Animations
@keyframes animationOnStartup {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
