/* Tipografias, resetear valores css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  min-height: 100vh;
}
#root {
  height: 100%;
}
