/* COLORS */
$gray: #B6C4DB;
$gray-2:rgb(197, 212, 236);

$blue: #2D3449;
$blue-2: rgb(52, 59, 83);

$green: rgb(18, 88, 18);
/* Ejemplo */
:root {
  --color-main: #dd6536;
  --color-white: #fff;
  --default-font-size: 1.6rem;
}
