/* COLORS */
$background: #effffb;
$secondary: #50d890;
$primary: #4f98ca;
$accent: #272727;
$gray: #b6c4db;
$gray-2: rgb(197, 212, 236);

$blue: #2d3449;
$blue-2: rgb(52, 59, 83);

$green: rgb(18, 88, 18);
/* Ejemplo */
